.sensor-filter {
    form {
        padding: 32px 0 0;
    }
    position: relative;
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    mat-form-field {
        width: 100%;
        position: relative;
    }
}