.app {
    position: relative;
    width: 100%;
    height: 100%;
}
app-sidenav-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}
.content {
    position: relative;
    width: 100%;
}

.test {
    min-height: 100vh;
    width: 100%;
}